
 <%- include('../includes/faculty/head.ejs') %>

 <%- include('../includes/faculty/navigation.ejs') %>
 
</header>

<br><br><br>   

<section class="container">
  <h4>Faculty Dashboard</h4>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        Faculty Dashboard / Home
      </li>
    </ol>
  </nav>
</section>
  
<br><br>
  
<section class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 border">
        <h3>Scheduled Exams</h3>
        <% if(exams.length > 0) { %>

        <table class="table table-bordered table-sm text-center">
          <tr>
            <th>Sl No</th>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Faculties Required</th>
            <th>Action</th>
          </tr>
          <% for(let i= 1; i <= exams.length; i ++) { %>

          <tr>
            <td><%= i %></td>
            <td><%= exams[i-1].date %></td>
            <td><%= exams[i-1].slot %></td>
            <td><span class="badge badge-pill badge-primary">10</span></td><!-- // show no of requirement, if applied redce the count -->
            <td><button class="btn btn-info">Apply</button></td>
          </tr>
          <% } %>

        </table>
        <% } %>

        <br>
      </div>
      
    </div>
    <br><hr>
    <!-- <div class="row">
      <div class="col-md-6">
        <h3>University Exam Schedules</h3>
        <table class="table table-bordered tale-striped table-hover table-sm">
          <tr>
            <th>Sl No</th>
            <th>Title</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Finals For CSE</td>
            <td>
                <button class="btn btn-warning">Download  <i class="fa fa-cloud-download"></i> </button>
            </td>
          </tr>
        </table>
      </div>
    </div> -->
  </div>
</section>
  
<br><br><br>


<%- include('../includes/footer.ejs') %>

<%- include('../includes/faculty/end.ejs') %>

