<%- include('../includes/student/head.ejs') %>

<%- include('../includes/student/navigation.ejs') %>
</header>

<br><br><br>

<section class="container">
  <h4>Student Dashboard</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          Student Dashboard / Home
        </li>
      </ol>
    </nav>
</section>

<br><br>

<section class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 border p-2">
        <h4>Scheduled Exams </h4> <!-- // show their semester only List Ex. CS branch 2nd Sem -->
        <% if(data.exams.length > 0) { %>
        <table class="table table-bordered table-sm text-center">
          <tr>
            <th>Sl No</th>
            <th>Date</th>
            <th>Time Slot</th>
          </tr>
          <% for(let i= 1; i <= data.exams.length; i ++) { %>

          <tr>
            <td><%= i %></td>
            <td><%= data.exams[i-1].date %></td>
            <td><%= data.exams[i-1].slot %></td>
          </tr>
          <% } %>

        </table>
        <% } %> 
        <br>
      </div>
      
    </div>
    <br><hr>
    <div class="row">
      <div class="col-md-6">
        <h4>University Exam Schedules</h4>
        <% if(data.universityExam.length > 0) { %>
        
        <table class="table table-bordered table-striped table-hover table-sm text-center">
          <% for(let i= 1; i <= data.universityExam.length; i ++) { %>
          <tr>
            <th>Sl No</th>
            <th>Title</th>
            <th>Action</th>
          </tr>
          
          <tr>
            <td><%= i %></td>
            <td><%= data.universityExam[i-1].title %></td>
            <td>
                <button class="btn btn-warning">Download <i class="fa fa-cloud-download"></i> </button>
            </td>
          </tr>
          <% } %>
        
        </table>

        <% } %>

      </div>
    </div>
  </div>
</section>

<br><br><br>

<%- include('../includes/footer.ejs') %>

<%- include('../includes/student/end.ejs') %>